# Dependencies
**/node_modules
**/dist
**/dist-ssr
**/build

# Environment / Local Config
**/.env
**/*.local
**/.DS_Store

# Prisma / Database
**/prisma/dev.db
**/prisma/dev.db-journal

# Editor
**/.vscode
**/.idea
